/*basic styling for the footer, nav and profile page*/
body {
  background-image:  -webkit-linear-gradient(bottom , rgb(76, 161, 246),rgb(22, 100, 218),rgb(28, 90, 183),rgb(12, 33, 154),rgb(7,50,130), rgb(5, 64, 122));
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.profEditImg{
  display:flex;
  align-items: center;
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(7, 38, 96);
  text-align: center;
  font-size:x-small;
  padding: 5px;
  color:white;
  box-shadow: 0 -2px 4px 0 rgba(0,0,0,.3);
}

.nav{
  
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
}
